@font-face {
    font-family: "font";
    src: url(urban-elegance.urban-elegance.ttf);
}

body{
    font-family: font;
    text-align: left;
}

#band img {
    float: left;
    width: 125px;
    height: 42px;
    margin-left: 30px;
    margin-top: 15px;
}

#band {
    background: black;
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

#sign{
    float: right;
}

#sign ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 20px;
    margin-right: 15px;
}

#sign ul li a{
    text-decoration: none;
    color: white;
    padding: 18px;
    cursor: pointer;
    font-size: 18pt;
}

#sign ul li a:hover{
    text-decoration: underline;
    color: #3cd6e6;
}

#loginlist{
    display: none;
    width: 470px;
    height: 200px;
    background: #3cd6e6;
    margin-top: 4.3%;
    margin-left: 70%;
    position: absolute;
    z-index: 2;
    opacity: 1;
}

#login{
    display: none;
    width: 470px;
    height: 200px;
    margin-top: 4.3%;
    margin-left: 70%;
    position: absolute;
    z-index: 3;
    padding-top: 25px;
}

#login input, label{
    float: left;
}

#login label{
    padding-left: 30px;
    padding-right: 30px;
    clear: left;
    width:55px;
    text-align: right;
    padding-top: 15px;
    font-size: 18px;
}

#login input{
    border: none;
    border-bottom: 2px solid black;
    background: none;
    margin-top: 15px;
    width: 60%;
}

#login button{
    position: absolute;
    right: 58px;
    bottom: 60px;
    width: 380px;
    background-color: white;
    border: none;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#login button:hover{
    background-color: white;
    opacity: 0.4;
    color: black;
}
